<div id="signin" class="wrapper">
<div class="container padding">
  <h2>Logowanie</h2>
  <input class="form-control form-control-width" type="email" placeholder="E-mail" [(ngModel)]="loginCredentials.email">
  <input class="form-control form-control-width" type="password" placeholder="Hasło" [(ngModel)]="loginCredentials.password">
  <button class="btn btn-primary" (click)="signIn()">Zaloguj</button>
  <a id="signup" class="text-center nav-link" routerLink="/signup">Nie posiadasz konta? Zarejestruj się.</a>
</div>
</div>
