<div id="home" class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image parallax" data-rellax-speed="-7"
         style="background-image: url('assets/img/background.jpg');">
    </div>
    <div class="container">
      <div class="content-center brand">
        <img class="n-logo" src="assets/img/agh.png" alt="">
        <h1 class="h1-seo">Przeżyj wspaniałą przygodę</h1>
        <h3>Czas na niezapomniane wakacje z biurem podróży VIOLA!</h3>
      </div>
    </div>
  </div>
</div>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Wymarzone podróże już od 5999,-</h1>
    <p class="lead">Udaj się z najbliższymi w miejsca, które pokochacie.</p>
  </div>
</div>

<app-offer></app-offer>
<app-about></app-about>
<app-contact></app-contact>
